@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /* colores Warner bros */
    --Amarillo: #fbc404;
    --Azul-fondos: #383fec;
    --Azul-resaltar: #0e0a77;
    --Morado: #5d53a5;
    --Cafe: #5d444e;

}

body{
    font-family: "Montserrat", sans-serif;
    background-color: var(--Azul-fondos);
}

h1{
    background-color:#000000;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-size: 60px;

}
img{
    background-color:#383fec;
    width: 250px;
    display:block;
    margin:auto;
}

.foto img{
    animation: escala 3s;
    
}
@keyframes escala {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }
    80% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.logo-wb {
    animation: escalaEntrada 1s cubic-bezier(.68,-0.55,.27,1.55);
}
